<h4>登録済の方はこちらからログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current_password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<p>会員登録は</p>
<%= link_to "こちら", new_user_registration_path %>から新規登録を行なってください。
