<h1><%= @user.name %>さんの詳細</h1>
<p>ユーザーID<%= @user.id %></p>
<p>ユーザーネーム<%= @user.name %></p>
<p>メールアドレス<%= @user.email %></p>
<p>会員ステータス
<% if @user.is_deleted == false %>
有効
<% else %>
退会
<% end %>
</p>

<%= link_to "編集", edit_admin_customer_path(@user.id), class: "btn btn-sm btn-primary edit_admin_customer_path(user.id)" %>
<%= link_to "投稿履歴一覧を見る",admin_path, class: "btn btn-sm btn-success admin_path" %>