<h1><%= current_user.name %>さんの投稿一覧</h1>
<div class="row">


<%= render 'user/shared/post_list' %>


<% @post_items.each do |post_item| %>
 <div class="col-md-3">
 <%= link_to user_post_item_path(post_item.id) do %>
 <%= image_tag post_item.get_item_image(200,200) %>
 <% end %>
 <p><%= post_item.created_at %></p>
</div>
<% end %>
</div>
