<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 class="text-center">新規投稿</h1>
        <%= form_with model: PostItem.new, url: user_post_items_path, method: :post do |f| %>
      <div class="form-group">
        <%= f.label :post_item, '投稿画像' %>
        <%= f.file_field :image, accept: "image/*", class: 'form-control-file' %>
      </div>
      <div class="form-group">
        <%= f.label :comment, '投稿文' %>
        <%= f.text_field :comment, class: 'form-control', placeholder: "任意で文章を投稿できます。" %>
      </div>
      <div class="form-group">
        <%= f.submit '新規投稿', class: 'btn btn-success' %>
        <% end %>
         <%= link_to '戻る', :back ,class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>