<h1>投稿詳細</h1>
<%= link_to @user.name,user_my_page_path(@user.id) %>
<%= image_tag @post_item.get_item_image(100,100) %>
<p>投稿文<%= @post_item.introduction %></p>
<% if @post_item.favorited_by?(current_user) %>
    <p>
      <%= link_to user_bookmark_path(id: @post_item, post_item_id: @post_item), method: :delete do %>
        <i class="fa-solid fa-bookmark"></i><%= @post_item.bookmarks.count %> ブックマーク
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to user_bookmarks_path(post_item_id: @post_item), method: :post do %>
        <i class="fa-regular fa-bookmark"></i><%= @post_item.bookmarks.count %> ブックマーク
      <% end %>
    </p>
  <% end %>

<% if current_user.following?(user) %>
  <%= link_to user_relationships_path(user.id), method: :delete do %>
  <i class="fa-regular fa-user"></i>フォロー
  <% end %>
<% else %>
  <%= link_to user_relationships_path(user.id), method: :post do %>
  <i class="fa-solid fa-user-plus"></i>フォロー
  <% end %>
<% end %>