<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1 class="text-center">投稿詳細</h1>
      <div class="form-group">
        <%= image_tag @post_item.get_item_image(700,500) %>
      </div>
      <div class="form-group">
        <% if @user == current_user %>
        <%= link_to @user.name,user_my_page_path(@user.id) %>
        <% else %>
        <%= link_to @user.name,user_customer_path(@user.id) %>
        <% end %>
      </div>
      <div class="form-group">
        <%= @post_item.comment %>
      </div>

      <div class="form-group">
        <%= form_with model: @evaluation, url: user_post_item_evaluation_path(@post_item), method: :post  do |f| %>
        評価：<%= f.number_field :point, min:1,max:10 %>
        <%= f.submit '点数を反映', class: 'btn-btn-success' %>
        <% end %>
      </div>

      <div class="form-group">
      <!--</% if !current_user %>-->
      <!-- 総合評価:  </% @sum = 0 %>-->
      <!--    </% @post.comments.each do |comment| %>-->
      <!--    </% @sum += comment.score %>-->
      <!--    </% end %>-->
      <!--    </%= @sum %>-->
      <!--</% end %>-->
      </div>

      <div class="form-group text-right">
        <% if !current_admin %>
         <% if @post_item.favorited_by?(current_user) %>
            <p><%= link_to user_bookmark_path(id: @post_item, post_item_id: @post_item), method: :delete do %>
            <i class="fa-solid fa-bookmark"></i><%= @post_item.bookmarking_users.count %> ブックマーク</p>
            <% end %>
         <% else %>
            <p><%= link_to user_bookmarks_path(post_item_id: @post_item), method: :post do %>
            <i class="fa-regular fa-bookmark"></i><%= @post_item.bookmarking_users.count %> ブックマーク</p>
            <% end %>
          <% end %>
        <% end %>

        <% if !current_admin %>
          <% if @login_user.following?(@user) %>
            <%= link_to user_follow_path(id:@user.id), method: :delete do %>
              <i class="fa-regular fa-user"></i>フォロー
            <% end %>
          <% else %>
            <%= link_to user_follows_path(id:@user.id), method: :post do %>
              <i class="fa-solid fa-user-plus"></i>フォロー
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="">
        <%= link_to '戻る',:back, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>