
<div class="swiper mx-auto">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag 'andrei-lazar-dH4JzW5h9Ng-unsplash.jpg' %>
      <div class="slide-content">
        <div class="text-large">IYASI</div>
        <div class="text-small">お気に入りの写真や、</br>イラストなどを投稿してみましょう</div>
      </div>
    </div>
    <div class="swiper-slide">
       <%= image_tag "ashish-kumar-senapati-wbS3ac5c88Q-unsplash.jpg" %>
       <div class="slide-content">
       <div class="text-large">像投稿特化SNS</div>
       <div class="text-small">画像のみで投稿もできます</br>日記感覚で気軽に投稿してみましょう</div>
       </div>
    </div>
    <div class="swiper-slide">
      <%= image_tag "boris-smokrovic-RLLR0oRz16Y-unsplash.jpg" %>
      <div class="text-large"></div>
      <div class="text-small"></div>
    </div>
    <div class="swiper-slide">
      <%= image_tag "bruno-guerrero-rmk9u2Kh9Js-unsplash.jpg" %>
      <div class="text-large"></div>
      <div class="text-small"></div>
    </div>
    <div class="swiper-slide">
      <%= image_tag "francesco-ungaro-e6M217OE5Ng-unsplash.jpg" %>
      <div class="text-large"></div>
      <div class="text-small"></div>
    </div>
    <div class="swiper-slide">
      <%= image_tag "jackson-hendry-eodA_8CTOFo-unsplash.jpg" %>
      <div class="text-large"></div>
      <div class="text-small"></div>
    </div>
    <div class="swiper-slide">
      <%= image_tag "marek-piwnicki-4ppwzPEr7OI-unsplash.jpg" %>
      <div class="text-large"></div>
      <div class="text-small"></div>
    </div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <span style="font-size:100px; color:black;">Welcome</span>
      <h4 class="text-center mt-3">画像を投稿して閲覧するSNSです。</br>
      任意で投稿文を記述できるので、</br>
      日記のように投稿することもできます。</h4>
    </div>
  </div>
</div>