<!DOCTYPE html>
<html>
  <head>
   <script src="https://kit.fontawesome.com/2ed1d1607f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Iyasi</title>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
     <div class="container-fluid">
      <a class="navbar-brand" href="/"><span class="logo">
       <!--<div>ロゴは <a href="https://www.designevo.com/jp/" title="無料オンラインロゴメーカー">DesignEvo</a> ロゴメーカーさんに作られる</div>-->
       <%= image_tag "logo.jpg" %><span><a>
      <div  class="collapse navbar-collapse show" id="navbarBasic">
      <ul class="navbar-nav ml-auto mb-2 mb-xl-0">
      <% if user_signed_in? %>
       <li class="nav-item">
        <%= link_to user_post_items_path(all:true), class:'nav-link active' do %>
        <i class="fa-regular fa-image"></i>投稿一覧
        <% end %>
       </li>
       <li class="nav-item">
        <%= link_to user_follows_path, class: 'nav-link active' do %>
        <i class="fa-regular fa-circle-user"></i>フォロー一覧
        <% end %>
       </li>
       <li "nav-item">
        <%= link_to user_rankings_path, class: 'nav-link active' do %>
        <i class="fa-solid fa-crown"></i>ランキング
        <% end %>
       </li>
       <li "nav-item">
        <%= link_to user_bookmarks_path, class: 'nav-link active' do %>
        <i class="fa-solid fa-bookmark"></i>ブックマーク
        <% end %>
       </li>
       <li "nav-item">
        <%= link_to user_my_page_path, class: 'nav-link active' do %>
        <i class="fa-regular fa-user"></i>マイページ
        <% end %>
       </li>
       <li "nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
        <i class="fa-solid fa-right-from-bracket"></i>ログアウト
        <% end %>
       </li>
      <% elsif admin_signed_in? %>
       <li "nav-item">
        <%= link_to admin_post_items_path, class: "nav-link active" do %>
        <i class="fa-regular fa-image"></i>投稿一覧
        <% end %>
       </li>
       <li "nav-item">
        <%= link_to admin_customers_path, class: "nav-link active"  do %>
        <i class="fa-solid fa-users"></i>ユーザー一覧
        <% end %>
       </li>
       <li "nav-item">
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link active" do %>
        <i class="fa-solid fa-right-from-bracket"></i>ログアウト
        <% end %>
       </li>
      <% else %>
       <li "nav-item">
        <%= link_to about_path, class: 'nav-link active' do %>
        About
        <% end %>
       </li>
       <li class="nav-item">
        <%= link_to user_post_items_path(all:true), class: 'nav-link active' do %>
        <i class="fa-regular fa-image"></i>投稿一覧
        <% end %>
       </li>
       <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-link active' do %>
        <i class="fa-solid fa-user-plus"></i>新規登録
        <% end %>
       </li>
       <li class="nav-item">
        <%= link_to new_user_session_path, class: 'nav-link active' do %>
        <i class="fa-solid fa-right-to-bracket"></i>ログイン
        <% end %>
       </li>
       </li>
      </ul>
      <% end %>
       <%= form_tag({controller:"post_items",action:"index"}, method: :get) do %>
       <%= text_field_tag :search, {}, placeholder: "検索したい単語を入力" %>
       <%= submit_tag '検索' %>
       <% end %>
       <% if @posts == [] %>
         <h2 class = "seach-result">検索結果はありません</h2>
       <% end %>
         </ul>
         </div>
      </div>
     </div>
    </nav>
    </header>
     <main>
      <%= yield %>
     </main>
  </body>
</html>
